* {
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

    /* background-image: url('/images/layer1.PNG'); */
    box-sizing: border-box;
}

#logo {
    height: 75px;
}

#home_buttons,
#icons {
    margin-left: 30%;
}



#banner {

    background-image: url('images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}

#banner_img {
    width: 80%;
    height: 90vh;
}


:root {
    --whiteColor: #fff;
    --offWhite: #c4cfdf;
    --blackColor: #021428;
    --primaryColor: #5F2DED;
    --secondaryColor: #f2277e;
    --contentColor: #333;
    --darkdeep2: #666;
    --whitegrey3: #E7DEFF;
}

#title {
    font-size: 90px;
    font-weight: 900;
    color: var(--secondaryColor);
    background: linear-gradient(120deg, var(--secondaryColor) 20.69%, #5F2DED 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;

}

#purchase_btn {
    color: var(--blackColor);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
    font-weight: 600;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 15px 35px;
    border: 1px solid #eee;
    border-radius: 10px;
    background: transparent;
    font-size: 18px;
    line-height: 2;
}

#purchase_btn:hover {
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor)
}

/* purchase icons */
.img img {
    height: 45px;
}

#purchase h1,
#purchase h6,
#purchase button,
.footer_copyright p {
    color: #fff;
}

footer {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer_copyright {
    margin-top: 80px;
    border-top: 2px solid rgba(79, 84, 89, 0.427);
}

/* core features */
#core_features h1,
.contact_title {
    color: var(--secondaryColor) !important;
    color: var(--secondaryColor);
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

#core_features h3 {

    font-size: 35px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--blackColor);
    /* margin-bottom: 20px; */
}

.inner {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    max-width: 280px;
    height: 200px;


    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.core_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.single_cards {
    margin: 25px 10px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.single_cards:hover {
    transform: translateY(-10px);
}

.single_cards .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--blackColor);
}

.inner img {
    max-width: 80px;
}

/* core feature end */

#banner_img h1 {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}

#banner_img h6 {
    font-size: 0.9375rem;
    color: var(--whiteColor)
}

.at {
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.mail {
    font-size: 18px !important;

}

.mail:hover {
    color: rgba(169, 13, 13, 0.787) !important;
}

.support {
    display: flex;
    align-items: center;
}

/* support end */

/* video contact */
.zoom {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--primaryColor);
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.video_container h3 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.23;
    font-weight: 700;
}

.video_container p {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--darkdeep2);

}

.meeting img {
    width: 20px;
    margin-right: 10px;
}

.meeting h6 {
    font-size: 20px;
    color: var(--darkdeep2);
}

.default_btn {
    color: var(--whiteColor);
    background: #5F2DED;
    border-color: #5F2DED;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    padding: 15px 35px;
    width: 500px;
    border-radius: 10px;

}

.details h3 {
    margin-bottom: 30px;
}
.contact {
    margin-bottom: 50px !important;
    /*width: 100%; */

    /* margin-right: 100px; */
    

}
.video_container {
    /* width: 95%; */
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 13px 48px 0 rgba(215, 216, 222, 0.44);
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 10px;
    
}

.video_container :hover {
    transform: translateY(-10px);
}











/* media queries */

@media only screen and (max-width: 994px) {
    #home_buttons {
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    #banner {

        background-image: url('images/banner/banner2.png');
        /* background-size: contain; */



    }

    #banner_img {
        /* width: 250px;  */
        width: 300px;
        height: 30vh;



    }
}

/* footer */
.features {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
    margin-top: 50px;
}
.features h6{
    color: rgb(208, 196, 196) !important;
}

/* footer */


/* meadia queries for core features  */

@media only screen and (max-width:1500px) {
    .core_cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width:1100px) {
    .core_cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .core_cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .core_cards {
        grid-template-columns: 1fr;
    }
}

/* media for banner_content */

@media only screen and (max-width: 600px) {
    .banner_content {
        padding-top: 10px !important;
        padding-left: 10px !important;
    }

    #banner h1 {
        font-size: 15px !important;
    }

    #banner h6 {
        font-size: 10px;
    }

    .icon_field img {
        width: 200px !important;
    }

    .support {
        margin: 0 !important;
        margin-bottom: 3px !important;
    }

    .support h6 {
        font-size: 10px !important;
    }

    .at {
        font-size: 15px !important;
        font-weight: 500;
    }
}

/* media for footer */
@media only screen and (max-width: 600px) {
    footer h1 {
        font-size: 30px !important;
    }


    footer h2 {
        font-size: 15px !important;
    }

    .features {
        
        grid-template-columns: repeat(2, 1fr);
    }
    
    
}

/* media for contact */
@media only screen and (max-width:1980px){
    .video_container{
        margin: 0 200px;
    }
    .zoom_img img{
        width: 600px;
    }
}
@media only screen and (max-width:1699px){
    .video_container{
        margin: 0 100px;
    }
}
@media only screen and (max-width:1300px){
    .video_container{
        margin: 0 20px;
    }
}




@media  only screen and (max-width:1400px) {
    
    .details p{
      font-size: 14px;
    }
    .details h3{
        font-size: 30px;
    }
    .zoom_img img{
        width: 500px;
        height: 400px;
    }
    .default_btn{
        width: 90%;
    }
    
} 
@media only screen and (max-width:600px) {
    .default_btn{
        width: 95%;
      
    }

    .video_container{
        flex-direction: column;
        height: 1000px;
        
        border-radius: 10px;
        /* margin-left: 25px; */
        margin:50px 25px;
    }
    .zoom_img img {
        width: 280px !important;
        height: 300px;
    } 
    .details h3{
        font-size: 25px;
    }
    .details{
        margin-left: 10%;
        margin-bottom: 20px;
    }
    .meeting h6{
        font-size: 16px !important;
    }
    .contact h1{
        font-size: 25px;
    }
}